.page {
    --background: #fbfaf8;
    --foreground: #fbfaf8;

    --textPrimary: #25252D;
    --textSecondary: #D4D4D8;
    --textTertiary: #7d7d7d;
    --color: #ED311D;

    --buttonPrimaryHover: #383838;
    --buttonSecondaryHover: #f2f2f2;
    --buttonSecondaryBorder: #ebebeb;
    font-family: var(--fontInter);
    background-color: var(--background);
}

.main {
    position: relative;

    h1 {
        position: absolute;
        top: 10px;
        left: 40px;
        font-size: 40px;
        padding: 10px 40px 10px 0;
        border-bottom: 1px solid var(--textPrimary);
        font-family: var(--font-eb-garamond);
    }

    .events {
        list-style-type: none;
        width: 100%;
        height: 100vh;
        overflow-y: scroll;
        scroll-snap-type: y mandatory;
        scrollbar-width: none;



        li {
            transition: ease-in-out 0.30s;
            width: 100%;
            height: 100vh;
            display: grid;
            justify-items: center;
            align-items: center;
            scroll-snap-align: center;

            .event {
                height: 50%;
                max-height: 400px;
                width: 100%;
                padding: 0 80px 0 30%;


                .link {
                    display: grid;
                    justify-items: baseline;
                    padding: 20px;
                    height: 100%;

                    .date {
                        font-size: xx-large;
                        font-family: var(--font-eb-garamond);
                    }

                    h2 {
                        font-size: 40px;
                        transition: ease-in-out 0.30s;
                    }

                    h3 {
                        font-size: 28px;
                        font-style: italic;
                        color: var(--textSecondary);
                        font-weight: 400;
                    }

                    .short {
                        font-size: 24px;
                        text-align: justify;
                        font-weight: 400;
                    }
                }

                .link:hover {
                    h2 {
                        color: var(--color);
                    }
                }
            }
        }
    }

    .scroller {
        position: absolute;
        left: 40px;
        top: 50%;
        transform: translateY(-50%);
        list-style-type: none;
        display: flex;
        flex-direction: column;

        li {
            cursor: pointer;
            position: relative;
            padding: 2px 0;
            font-size: 12px;
            transition: 0.3s ease-in-out;
        }

        li:hover {
            font-size: 24px;
            padding: 20px 0;
            color: var(--color);
        }

        .liHover {
            font-size: 24px;
            padding: 20px 0;
        }
    }
}

.pageLayer {
    width: 70%;
    margin: 50px 0;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.pageTitle {
    margin: auto;
    text-align: center;
    margin: 50px auto;
}

.timeline {


    .short {
        margin-top: 1em;
    }
}

.histoireArtCours {
    ol {
        list-style-type: upper-roman;
    }
    ul {
        list-style-type: circle;
    }
    li {
        padding: 5px 10px;
        list-style-position: inside;
    }
    h2 {
        margin-top: 50px;
        text-align: center;
    }

    .historique {
        font-style: italic;
    }
    height: fit-content;
}

.coursFocus {
    position: fixed;
    top: 0px;
    right: 0;
    width: 18vw;
    height: 100%;
    border-left: 1px solid transparent;
    border-radius: 0;
    padding-top: 70px;
}

.coursFocusContent {
    position: sticky;
    top: 0px;
    padding: 30px;
    transition: 0.3s ease-in-out;

    img {
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.115), -5px -5px 10px rgb(255, 255, 255);
        border: 1px solid rgba(255, 255, 255, 0.436);
        margin-bottom: 10px;
    }
    h2 {
        text-align: left;
    }
}

.histoireArtCoursTitle {
    text-align: center;
    margin: 16% 0;
    height: 100px;
}

.coursContent {
    width: 50vw;
    margin: 50px auto;
}

.partieCours {
    margin-top: 100px;
}

.imageCentre {
    width: 100%;
    margin: auto;
    margin-bottom: 20px;
    left: 50%;
    position: relative;
    transform: translateX(-50%);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.115), -5px -5px 10px rgb(255, 255, 255);
    border: 1px solid rgba(255, 255, 255, 0.436);
}

.smallImg {
    width: 20vw;
    margin-top: 40px;
    margin-bottom: 20px;
    left: 50%;
    position: relative;
    transform: translateX(-50%);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.115), -5px -5px 10px rgb(255, 255, 255);
    border: 1px solid rgba(255, 255, 255, 0.436);
}

.bigImg {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    height: 100%;
    padding: 30px;
    z-index: 3;
    background: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);

    img {
        display: block;
        height: calc(100% - 60px);
        margin: auto;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.325);
    }

    .close {
        position: absolute;
        font-size: 30px;
        font-weight: 50;
        color: White;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        border: 1px solid white;
        text-align: center;
        cursor: pointer;
        right: 130px;
    }
}

.h3Cours {
    margin: 20px 0 5px 0;
    color: rgb(44, 44, 44);
}

.detail {
    border-left: 2px solid var(--secondColor);
    border-radius: 0;
    padding-left: 5px;
}

.imageFond {
    position: fixed;
    width: 80%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 1%;
}

.titusThermes {
    margin: 50px auto;
}

@media (max-width: 600px) {
    .main {
        padding: 48px 24px;
    }

    .intro {
        gap: 16px;
    }

    .intro h1 {
        font-size: 32px;
        line-height: 40px;
        letter-spacing: -1.92px;
    }
}

/* @media (prefers-color-scheme: dark) {
    .logo {
        filter: invert();
    }

    .page {
        --background: #000;
        --foreground: #000;

        --textPrimary: #ededed;
        --textSecondary: #999;

        --buttonPrimaryHover: #ccc;
        --buttonSecondaryHover: #1a1a1a;
        --buttonSecondaryBorder: #1a1a1a;
    }
} */